langchain
langchain-openai
openai
langchain-anthropic
langchain-google-genai
google-generativeai
langchain-huggingface
transformers
huggingface-hub
python-dotenv
numpy
scikit-learn
streamlit
streamlit_chat
sentence-transformers
pinecone-client
BeautifulSoup4
genai
fastapi
uvicorn
faiss-cpu
docx2txt
pypdf
langchain_chroma
python-multipart
